<div class="row">
  <div class="col-md-12">
    {% for collection in site.data.collections %}

    <h2><a href="{{ collection.link }}">{{ collection.name }}</a></h2>
      <div class="jcarousel" id="collections">
	<ul>
	  {% for piece in collection.pieces %}
	  <li class="jcarousel-item" index="{{ forloop.index }}">
	    <a href="{{ collection.link }}">
	      <img class="collection-scroller" src="{{ piece.image }}" />
	    </a>
	  </li>
	  {% endfor %}
	</ul>
      </div>

    {% endfor %}
  </div>
</div>
