<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      {% for collection in site.data.collections %}
      {% if collection.name == page.title %}
      <h2>{{ collection.name }}</h2>
      <p>{{ collection.description }}</p>
      <div class="scroller">
	{% for piece in collection.pieces %}
	<img class="scroller" src="{{ piece.image }}" />
	{% endfor %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-md-4 sidebar scroller">
      <nav class="navbar sidebar-nav">
	{% for collection in site.data.collections %}
	{% if collection.name == page.title %}
	  {% for piece in collection.pieces %}
	  <span class="scroller">{{ piece.name }}</span>
	  {% endfor %}
	{% endif %}
	{% endfor %}
      </nav>
    </div>
  </div>
</div>
