<div class="row">
  <div class="col-md-3">
    <h4>COLLECTIONS</h4>
    <ul class="store collections">
      {% for collection in site.data.store %}
      <li class="store collection" index={{ forloop.index }}>{{ collection.name }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-9">
    {% for collection in site.data.store %}
    <div class="store toggle" index={{ forloop.index }}>
      <span class="store title">{{ collection.name }}</span>
      <div class="row header">
	<div class="col-md-2">
	  <span>PRODUCT</span>
	</div>
	<div class="col-md-5">
	  <span>DESCRIPTION</span>
	</div>
	<div class="col-md-2">
	  <span>PRICE</span>
	</div>
      </div>
      {% for piece in collection.pieces %}
      <div class="row piece">
	<div class="col-md-2">
	  <img src="{{ piece.image }}" class="store-item" />
	</div>
	<div class="col-md-5">
	  <span class="store-description">{{ piece.description }}</span>
	</div>
	<div class="col-md-2">
	  <div class="row">
	    <span class="store-price">{{ piece.price }}</span>
	  </div>
	  <div class="row">
	    <span class="store-buy" id={{ piece.name }}>Buy now</span>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
